<div class="container">
    <h1>About Us</h1> <br>
    <p>
    

Mr. Santosh Kushwaha owns a dairy company that started back in 2068 B.S. Initially, he invested only around one lakh rupees, but now the company is growing fast, making about 2 crores annually.

The dairy has two branches, one in Brahathawa and the main one in Hariwon. More than 15 staff members work across these branches.

The main goal of Mr. Santosh's dairy is to collect milk from local farmers and pay them a fair price for their milk. This way, the company ensures that farmers get a good deal for their hard work.
    </p>
    
</div>