
        <!-- Staff Login----------------------------------- -->
        <div id="staffForm" class="form-container">
            <!-- <h2>Code for log as Staff Form goes here...</h2> -->
            <div id="adminLoginForm">
                <h3 class="loginHeading">Login as Staff</h3>
                <form method="post" class="loginForm" id="staffLogin">
                    <div class="formGroup">
                        <div class="inputWrapper">
                            <input type="text" placeholder="User Name *" name="username2" onkeydown="return alphaOnly(event);" required/>
                        </div>
                    </div>
                    <div class="formGroup">
                        <div class="inputWrapper">
                            <input type="password" placeholder="Password *" name="password2" required/>
                        </div>
                        <button type="submit" id="staffLoginBtn" class="formBtn" name="submit2">Login</button>
                    </div>
                </form>
            </div>

        </div>

