<section>
    <div class="form-box">
        <div class="login-as">
            <h3>Login as:</h3>
        </div>
        
        <div class="buttons">
            <button id="farmerBtn" routerLink="farmer-reg" routerLinkActive="active" ariaCurrentWhenActive="page">Farmer</button>
            <button id="staffBtn" routerLink="staff" routerLinkActive="active" ariaCurrentWhenActive="page">Staff</button>
            <button id="adminBtn" routerLink="admin" routerLinkActive="active" ariaCurrentWhenActive="page">Admin</button>
        </div>

        <div class="form-value">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>