
        <!-- Farmer Login------------------------------------------ -->
        <div id="farmerLoginForm" class="form-container">
            <!-- <h2>Code for log as Farmer Form goes here...</h2> -->
            <div id="adminLoginForm">
                <h3 class="loginHeading">Login as Farmer</h3>
                <form method="post" class="loginForm" id="farmerLogin">
                    <div class="formGroup">
                        <div class="inputWrapper">
                            <input type="text" placeholder="Phone Number *" name="phoneNo" onkeydown="numOnly(event);" required/>
                        </div>
                    </div>
                    <div class="formGroup">
                        <div class="inputWrapper">
                            <input type="password" placeholder="Password *" name="password3" required/>
                        </div>
                        <button type="submit" id="farmerLoginBtn" class="formBtn" name="submit3">Login</button>

                    </div>
                </form>
            </div>

        </div>