<header>
   <div class="container">
       <h1>Farm Management System</h1>
       <nav>
           <ul>
               <li><a routerLink="/home-component" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
               <li><a routerLink="/gallery-component" routerLinkActive="active" ariaCurrentWhenActive="page">Gallery</a></li>
               <li><a routerLink="/contact-component" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>
               <li><a routerLink="/about-component" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
           </ul>
       </nav>
   </div>
</header>