
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

html, body { 
    height: 100%; 
}

body{
    background-color: #fafafa;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;

}
